
      .subscribe-button {
        background-color: rgb(204, 0, 0);
        color: white;
        border: none;
        border-radius: 2px;
        cursor: pointer;
        margin-right: 12px;
        transition: opacity 0.15s;
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 10px;
        padding-bottom: 10px;
        vertical-align: top;
      }

      .subscribe-button:hover {
        opacity: 0.7;
      }

      .subscribe-button:active {
        opacity: 0.4;
      }

      .join-button {
        background-color: rgb(255, 255, 255);
        color: rgb(51, 97, 212);
        border-radius: 2px;
        border-color:rgb(51, 97, 212);
        border-width: 0.8px;
        cursor: pointer;
        border-style: solid;
        margin-right: 12px;
        transition: background-color 0.15s,
        color 0.15s;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 9px;
        padding-bottom: 9px;
        vertical-align: top;
      }

      .join-button:hover {
        background-color: rgb(51, 97, 212);
        color: white;
      }

      .join-button:active {
        opacity: 0.8;
      }

      .tweet-button {
        background-color: rgb(57, 149, 215);
        color: white;
        border-radius: 50px;
        border: none;
        cursor: pointer;
        font-weight: bold;
        transition: box-shadow 0.15s;
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 7px;
        padding-bottom: 7px;  
        font-size: 15px;
        line-height: 22.5px;
        vertical-align: top;
      }

      .tweet-button:hover {
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
      }

      .tweet-button:active {
        opacity: 0.7;
      }