.profile {
 margin-left: 20px;
 width: 180px;
 font-family: Arial;
 box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
 padding-bottom: 8px;
 display: inline-block;
}

.pic-1 {
  width: 180px;
  height: 170px;
  object-fit: cover;
  margin-bottom: 6px;
}

.text-1 {
  margin-top: 0px;
  margin-bottom: 4px;
  font-weight: bold;
  margin-left: 6px;
}

.text-2 {
  margin-top: 6px;
  margin-bottom: 8px;
  font-size: 14px;
  margin-left: 6px;
  display: inline-block;
  vertical-align: top;
  color: rgb(96, 96, 96);
}

.text-3 {
  margin-left: 6px;
  color: white;
  background-color: rgb(29, 106, 230);
  padding: 7px 18px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.pfp {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-left: 4px;
}

